/* ---------------------------------------------------
 * 共通部品
--------------------------------------------------- */
body {
    color: var(--main-font-color);
}
a:hover {
    text-decoration: none;
}
li {
    list-style: none;
}
.ps-btn {
    display: inline-block;
    padding: .25em .8em;
    border: .5px solid var(--btn-border-color);
    border-radius: .2em;
    box-shadow: 0 .05em .25em gray;
    color: var(--main-font-color);
    font-size: 1.1em;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
}
.ps-btn:hover {
    color: var(--main-font-color);
    opacity: var(--hover-btn-opacity);
}
.content-area {
    background-color: var(--content-area-bg-color);
    border: .5px solid var(--content-area-border-color);
    border-radius: 3px;
}
.content-title {
    background-color: var(--content-title-bg-color);
    padding: 3px 15px;
    position: relative;
}
.content-title p {
    margin: 0;
    font-size: 14pt;
}
.content-main table {
    width: 100%;
}
.content-main th, .content-main td {
    padding: 5px 0;
}
.content-main th {
    font-weight: normal;
    padding-right: 10px;
    padding-left: 15px;
}
.content-main form{
    padding: 5px 15px;
}
.content-main input[type="text"],
.content-main select,
.content-main textarea {
    width: 100%;
    padding: 3px 5px;
}
.content-main select {
    color: var(--select-box-init-color);
}

/* ---------------------------------------------------
 * 商品情報一覧画面
--------------------------------------------------- */
/* 商品一覧 */
.header-nav {
    display: flex;
}
.nav-list {
    height: 100%;
    padding: 5px 20px;
    text-align: center;
    border-left: 1px solid var(--nav-list-border-color);
    background-color: var(--nav-list-bg-color);
}
.search {
    border-right: 1px solid var(--nav-list-border-color);
}
.search, .sort {
    cursor: pointer;
}
.sort::after, .search::after {
    margin-left: 5px;
    content: '▼';
}
.search:hover, .sort:hover {
    opacity: .65;
}
.sort.is-active, .search.is-active {
    opacity: .65;
}
.product-list {
    width: 100%;
    margin: 0 auto;
}
.title-with-btn {
    display: flex;
    justify-content: space-between;
}
.product-contents {
    width: 100%;
    padding: 10px;
}

/* 並べ替え機能 */
#sort-nav-contents {
    display: none;
    width: 35%;
    color: var(--nav-content-color);
    background-color: var(--nav-content-bg-color);
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
}
#sort-nav-contents table {
    width: 100%;
    height: 250px;
}
#sort-nav-contents th {
    width: 60%;
    text-align: center;
}
#sort-nav-contents th:hover {
    background-color: var(--sort-hover-bg-color);
}
.direction-column {
    color: var(--direction-non-active-color);
}
.direction-column.is-active {
    color: var(--direction-active-color);
}
.direction-column.asc::before {
    content: '▲';
    margin-right: 5px;
}
.direction-column.desc::before {
    content: '▼';
    margin-right: 5px;
}

/* 絞り込み機能 */
#search-nav-contents {
    display: none;
    width: 35%;
    color: var(--nav-content-color);
    background-color: var(--nav-content-bg-color);
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
}
.nav-table {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
#search-nav-contents table {
    width: 100%;
}
#search-nav-contents th {
    width: 25%;
    white-space: nowrap;
}
#search-form-product-name, #search-form-company {
    width: 100%;
    margin: 8px 0;
    padding: 3px 5px;
}
#search-form-price-lower, #search-form-price-upper, #search-form-stock-lower, #search-form-stock-upper {
    width: 35%;
    margin: 8px 0;
    padding: 3px 5px;
}
.non-selectable {
    color: var(--select-box-init-color);
}
.selectable {
    color: var(--main-font-color);
}
.search-btn-area {
    text-align: center;
}
.search-btn {
    background-color: var(--main-btn-bg-color);
    width: 50%;
    margin: 15px auto;
    text-align: center;
    white-space: nowrap;
}
.reset-btn {
    width: 30%;
    background-color: var(--sub-btn-bg-color);
    margin: 15px 0 15px 30px;
    text-align: center;
    white-space: nowrap;
}

/* コンテンツ領域 */
#contents-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
}
.product {
    border: .5px solid var(--product-border-color);
    box-shadow: 0 .05em .25em gray;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 10px;
}
.product img {
    width: 100%;
    height: 11.1vw;
    object-fit: contain;
    margin-bottom: 5px;
}
.product-info {
    padding: 0 5px;
}
.product table {
    width: 100%;
}
.product table, .product th, .product td {
    border: var(--table-border);
}
.product th {
    width: 40%;
    background-color: var(--table-header-bg-color);
    padding-left: 5px;
}
.product td {
    padding-left: 5px;
}
.btn-area {
    margin-top: 7px;
    display: flex;
    justify-content: space-around;
}
.new-btn {
    margin-left: 10px;
}
.new-btn, .view-btn {
    background-color: var(--main-btn-bg-color);
}
.view-btn, .delete-btn {
    width: 40%;
}
.delete-btn {
    background-color: var(--delete-btn-bg-color);
}

/* ---------------------------------------------------
 * 商品新規登録画面
--------------------------------------------------- */
.regist-form {
    width: 70%;
    margin: 0 auto;
}
.msg {
    margin-top: 5px;
}
.success {
    color: var(--success-message-color);
}
.error {
    color: var(--error-message-color);
}
.required {
    background-color: var(--required-mark-color);
    color: var(--required-color);
    font-size: .8em;
    font-weight: bold;
    padding: 1px 7px;
    border-radius: 6px;
    float: right;
}
.regist-form table, .regist-form th, .regist-form td {
    border: var(--table-border);
}
.regist-form th {
    background-color: var(--table-header-bg-color);
}
.td-price {
    display: flex;
}
.price-unit {
    padding: 5px 30px 5px 15px;
    vertical-align: middle;
}
.regist-form .btn-area {
    margin: 20px 0 15px 0;
}
.regist-btn, .return-btn {
    padding-left: 2.5em;
    padding-right: 2.5em;
}
.regist-btn {
    background-color: var(--main-btn-bg-color);
}
.return-btn {
    background-color: var(--sub-btn-bg-color);
}

/* ---------------------------------------------------
 * 商品情報詳細画面, 商品情報編集画面
--------------------------------------------------- */
/* 詳細画面と編集画面の共通スタイル */
.show-form, .edit-form {
    width: 70%;
    margin: 0 auto;
}
.edit-btn, .cancel-btn, .update-btn {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.edit-btn, .update-btn {
    background-color: var(--main-btn-bg-color);
    margin-right: 20px;
}
.cancel-btn {
    background-color: var(--sub-btn-bg-color);
}
.product-img {
    width: 100%;
}
.show-form table, .show-form th, .show-form td,
.edit-form table, .edit-form th, .edit-form td {
    border: var(--table-border);
}
.center-th {
    display: block;
    width: 100%;
    text-align: center;
}
.show-form th, .edit-form th {
    background-color: var(--table-header-bg-color);
}

/* 詳細画面用スタイル */
.show-form th {
    width: 12%;
}
.show-form td {
    padding-left: 10px;
}

/* 編集画面用スタイル */
.edit-form th {
    width: 25%;
}
.edit-form td {
    padding: 0 10px;
}
.edit-form select {
    color: var(--main-font-color);
}
